.nav {
  grid-column: full-start/full-end;
  grid-row: 1/2;
  height: 100px;
  &-container {
    background-color: #ffffff88;
    padding: 30px 80px 10px;
    backdrop-filter: blur(10px);
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    z-index: 100;

    @media screen and (max-width: 980px) {
      padding: 30px 30px 10px;
    }
  }

  &-logo {
    color: var(--color-primary-1);
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-family: var(--font-heading);
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 30px;
    }
    span {
      font-size: 5px;
    }
  }

  &-list {
    list-style: none;
    display: flex;
    gap: 50px;
    font-weight: 600;
    text-transform: capitalize;

    @media screen and (max-width: 980px) {
      gap: 20px;
    }

    @media screen and (max-width: 800px) {
      display: none;
    }
  }

  .register-btn {
    background-color: var(--color-primary-1);
    padding: 8px 25px;
    color: #eee;
    text-transform: capitalize;
    font-weight: 600;
    border-radius: 5px;
    font-size: 14px;

    @media screen and (max-width: 800px) {
      display: none;
    }
    &:hover {
      cursor: pointer;
      background-color: var(--color-primary-2);
    }
  }
}
